@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

/* ------button-------*/
* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #d1ead8;
  background-image: url("/images/unicorns/rainbow.png");
  background-repeat: repeat;
  /* background-size:cover */
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.wish {
  font-weight: 600;
  color: #382b22;

  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.wish::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.wish:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

button.wish:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.wish:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

button.wish:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}


/* ///////////////////// */



.every-wish{
  font-size:60px;
  color:#f0bbca;
  text-shadow: 0px 4px 8px #ff5656;
 
}




.one-wish-img{
  width:300px;
  height:300px;
  border-radius: 50%;
  justify-content: center;
 
}

.wish-display{
  padding: 30px;
  width: 500px;
  align-content: center;
}

.each-wish{
  width:600px;
}

.wish-title{
 font-size: 30px;
}

.main-wish { 
  height: 400px;
  width: 400px;
  border-radius: 75%;
  justify-content: center;
}


/* .background{
  position:absolute;

} */
.home-container {
  z-index:1;
  position:absolute;
  top: 90px;
  left: 300px
  
}

.unicorn{
  position:relative;
  margin-top: 10px;
}

.unicorn04{
  position:relative;
  bottom: 100px;
  left: 40px;
  width: 200px;
  height: 350px;
  z-index:0;
}

.unicorn05{
  position:relative;
  bottom: 250px;
  left: 40px;
  width: 200px;
  height: 300px;
  z-index:0;
}

.rainbow{
  position:relative;
  margin-top: 10px;
  margin-left:10px;
}

.rainbow02{
  position:relative;
  bottom: 50px;
  left: 200px;
  width: 200px;
  height: 300px;
  z-index:0;
}

.home-add-btn { 
  padding-bottom: 40px;
}
input,
textarea {
  padding: 20px;
  margin:20px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width: 100%;
  border: 2px rgb(254, 186, 254) solid;
  font-size: 20px
}

.imgUrl {
  font-size: 15px
} 